alias jupy="jupyter notebook"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias ~="cd ~"
alias py3=python3
alias t="tmux"
alias ta="t a -t"
alias tls="t ls"
alias tn="t new -t"
alias tk="t kill-session -t"
alias pip="pip3"
alias activate="source *env/bin/activate"
