# Create a new directory and enter it
function mkd() {
  mkdir -p "$@" && cd "$@"
}

function cap() {
  git commit -m "$@" && git push
}

function dtime() {
  python3 ~/dtime.py "$@"
}

function now() {
  python3 ~/now.py
}

function git_branch_name()
{
  branch=$(git symbolic-ref HEAD 2> /dev/null | awk 'BEGIN{FS="/"} {print $NF}')
  if [[ $branch == "" ]];
  then
    :
  else
    echo '- ('$branch')'
  fi
}

# Determine size of a file or total size of a directory
function fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh;
	else
		local arg=-sh;
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@";
	else
		du $arg .[^.]* ./*;
	fi;
}

# Create a new project and cd into it, does NOT check if project already exists
project () {
        # TODO : redirect io to /dev/null and write custom messages
        if [ $# -lt 1 ] ; then
                cd "$PATH_TO_PROJECTS" && echo 'In Projects'
        fi

        mkdir -p "$PATH_TO_PROJECTS/$1" && cd "$PATH_TO_PROJECTS/$1"
        echo "In project $1"
	export PROJ=$1
	git init
	python3 -m virtualenv $1-env
	touch .gitignore
	source $1-env/bin/activate
	pip install --upgrade pip
	if [ $2 == "dj" ]; then
		cp ~/dotfiles/django_reqs.txt ./requirements.txt
	fi
}

# Activate virtual env and save the path as a tmux variable,
# so that new panes/windows can re-activate as necessary
function sv() {
    source *env/bin/activate
}
