# Create a new directory and enter it
function mkd() {
  mkdir -p "$@" && cd "$@"
}

function cap() {
  git commit -m "$@" && git push
}

function dtime() {
  python3 ~/dtime.py "$@"
}

function now() {
  python3 ~/now.py
}

function git_branch_name()
{
  branch=$(git symbolic-ref HEAD 2> /dev/null | awk 'BEGIN{FS="/"} {print $NF}')
  if [[ $branch == "" ]];
  then
    :
  else
    echo '- ('$branch')'
  fi
}

# Determine size of a file or total size of a directory
function fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh;
	else
		local arg=-sh;
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@";
	else
		du $arg .[^.]* ./*;
	fi;
}

# Create a new project and cd into it, does NOT check if project already exists
project () {
        # TODO : redirect io to /dev/null and write custom messages
        if [ $# -lt 1 ] ; then
                cd "$PATH_TO_PROJECTS" && echo 'In Projects'
        fi

        mkdir -p "$PATH_TO_PROJECTS/$1" && cd "$PATH_TO_PROJECTS/$1"
        echo "In project $1"
	export PROJ=$1
	git init
	#echo "session_name: $1" > .tmuxp.yaml
	#echo "start_directory: /home/james/Projects/$1" >> .tmuxp.yaml
	#echo "windows:" >> .tmuxp.yaml
	#echo "  - window_name: main" >> .tmuxp.yaml
	cp ~/dotfiles/.python.tmux.yaml ./.tmuxp.yaml
	sed -i '' -e  "s/PROJ:.*/PROJ: $1/g" \.tmuxp.yaml
	python3 -m virtualenv $1-env
	touch .gitignore
	if [[ $2 == "p" ]] ; then
		python3 -m virtualenv $1-env && echo "shell_command_before: sv" >> .tmuxp.yaml
	fi
	tmuxp load .
}

# Activate virtual env and save the path as a tmux variable,
# so that new panes/windows can re-activate as necessary
function sv() {
    source *env/bin/activate &&
    tmux set-environment VIRTUAL_ENV $VIRTUAL_ENV
}
